/* Basics */

body {
	overflow-y:scroll;
	color:#231f20;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

input{
	padding:5px;
	margin:0 0 20px 0;
}

/* Classes */
.header{
	background-image:url("../Images/header2.png");
	background-repeat:no-repeat;
	width:100%;
	height:400px;
	padding:0;
	margin:0;
	border-bottom:1px solid #cccccc;
}

.maincontent{
	height:100%;
}

.wrapper{
	width:960px;
	margin:0 auto;
}

.content{
	width:960px;
	float:left;
	padding:20px 0 0 0;
}

.answers{
	padding:0 0 0 40px;
}

.center{
	display:block;
	margin:0 auto;
}

.quiz{
	margin:0;
	padding:0;
	background-color:#CCCCCC;
	display:block;
	border:none;
	width:200px;
	height:80px;
}

.quiz:hover{
	background-color:#bebebe;
}

.extramargin{
	margin:20px 0 20px 0;
}

/* IDs */

#admin{
	background-color:#cccccc;
	width:920px;
	float:left;
	padding:20px;

}

#message{
	background-color:#CCCCCC;
	width:150px;
	position:absolute;
	padding:20px;
	top:400px;
	left:75%;
}
